<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coroutines">

    <application>
        <activity
            android:name=".basics.KotlinAsyncActivity"
            android:label="@string/title_activity_kotlin_async"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>